@import "../../../assets/styles/sharedstyles.scss";

.layoutConatiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .layoutMain {
    width: 100%;
    background: #fbfbfb;
  }
}
