@import "../../../assets/styles/sharedstyles.scss";

.sidebar {
  position: fixed;
  top: to-rem(90);
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 18%;
  box-shadow: inset -1px 0px 0px #f1f1f1;
  height: 100%;
  .sidebarContainer {
    .orgToggle {
      display: flex;
      gap: to-rem(10.9);
      align-items: center;
      padding: to-rem(30 20);
      span {
        font-weight: 400;
        font-size: 14px;
        color: #213f7d;
      }
    }
    .menuHeader {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #545f7d;
      margin-bottom: to-rem(10);
      padding: to-rem(0 20);
    }
    a {
      text-decoration: none;
    }
    .menuItems {
      display: flex;
      gap: to-rem(10.9);
      align-items: center;
      padding: to-rem(0 20);
      cursor: pointer;
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #213f7d;
        text-decoration: none;
        margin: to-rem(7 0);
      }
    }
    .active {
      display: flex;
      gap: to-rem(10.9);
      align-items: center;
      cursor: pointer;
      background: #f3fcfc;
      padding: to-rem(0 20);
      border-left: 3px solid #39CDCC;
      height: 40px;
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #213f7d;
        text-decoration: none;
        margin: to-rem(7 0);
      }
    }
  }
}